:root {
    --colorgreen: #517B54;
    --colororange: #dd7e55;
    --colorgrey: #2e2927;
}

.flex-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

h1 {
    background-color:#DD7E55;
    color: white;
    font-size: 26px;

}
/*p {
    text-align: center;
} */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,40%);
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .card:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,60%);
  }

.big-card {
    display: flex;
    margin: 20px;
    margin-top: 40px;
    
}
.card h4 {
    background-color: var(--colorgreen);
}
img.yellow-pic {
    border-radius: 20px;
}
.big-card-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 20px;
}
@media screen and (max-width:425px) {
#banniere {
    background-color: #DD7E55;
    color: white;
    }
}

@media screen and (min-width: 426px) {
#banniere {
    background-image: url(rsz_1citrus.jpg);
    height: 150px;
    text-align: center;
    font-size: 100px;
    font-family: 'Nixie One', cursive;
    
}
    
}
    




