@media screen and (max-width: 600px) {
  :root {
    --colorgrey: #72bda3;
  }

  .homepage {
    height: auto;
    width: auto;
    display: flex;
    background-color: white;
    color: white;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.homepage-container {
  background-color: white;
}
.homepage-container h2 {
  padding-top: 10px;
  margin: 2rem;
  padding-bottom: 10px;
  color: var(--colorgreen);
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: #d2dad3 1px solid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.homepage-img {
  background-color: white;
}
.homepage-img img {
  width: 100%;
  border-radius: 10px;
}
.homepage-img a {
  height: 200px;
}
.homepage-img p {
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: var(--colorgrey);
}

@media screen and (min-width: 601px) {
  :root {
    --colorgreen: #517b54;
    --colororange: #e8e8e8;
    --colorgrey: #72bda3;
  }
  body {
    width: 100%;
    background-color: #e8e8e8;
    margin: auto;
  }

  .homepage {
    height: auto;
    width: 80%;
    display: flex;
    background-color: white;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.homepage-container {
  background-color: white;
}
.homepage-container h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--colorgreen);
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: #d2dad3 1px solid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.homepage-img {
  background-color: white;
}
.homepage-img img {
  margin: 20px;
  width: 20%;
  height: auto;
  border-radius: 10px;
}
.homepage-img a {
  height: 200px;
}
.homepage-img p {
  font-size: 16px;
  display: none;
  width: 100%;
  text-align: center;
  background-color: var(--colorgrey);
}
